@font-face
{
    font-family: heading;
    src:url(Amsterdam\ Personal\ Use.ttf);
}
#fn
{
    position: relative;
    left:22px;
}
.header
{
    align-items: center;
}
.cards
{
    color:aliceblue;
    width:10vw;
}
.frame
{
    height:70vh;
    width:70vw;
}
.frame2
{
    height:70vh;
}
@media (max-width:1100px)
{
    .frame
    {
        height:70vh;
        width:80vw;
    }
}
@media (max-width:990px)
{
    .frame
    {
        height:50vh;
        width:90vw;
    }
    .frame2
    {
        height: 50vh;
    }
}
@media (max-width:768px)
{
    .frame
    {
        height:40vh;
        width:90vw;
    }
    .frame2
    {
        height: 40vh;
    }
}
@media (max-width:560px)
{
    .frame
    {
        height:30vh;
        width:90vw;
    }
    .frame2
    {
        height: 30vh;
    }
}
@media (max-width:400px)
{
    .frame
    {
        height:20vh;
        width:90vw;
    }
    .frame2
    {
        height: 20vh;
    }
}